/* Write your CSS here */

.each-match-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 29%;
  margin: 10px;
  background-color: #0f172a;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.each-match-card-logo {
  height: 150px;
  width: 40%;
}
.each-match-card-team {
  font-size: 18px;
}

.each-match-card-result {
  font-size: 13px;
}
.each-match-card-match-status {
  font-size: 13px;
}

.red {
  color: #e31a1a;
}

.green {
  color: #18ed66;
}

@media screen and (max-width: 768px) {
  .each-match-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 42%;
    margin: 10px;
    background-color: #0f172a;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .each-match-card-logo {
    height: 70px;
    width: 70%;
  }
  .each-match-card-team {
    font-size: 12px;
  }

  .each-match-card-result {
    font-size: 10px;
  }
  .each-match-card-match-status {
    font-size: 10px;
  }
}
