/* Write your CSS here */

.loader-card {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RCB {
  background-color: #a4261d;
}

.KKR {
  background-color: #5755a7;
}
.KXP {
  background-color: #d91c1f;
}
.CSK {
  background-color: #f7db00;
}
.RR {
  background-color: #4f5db0;
}
.MI {
  background-color: #13418b;
}
.SH {
  background-color: #f26d22;
}
.DC {
  background-color: #4f5db0;
}

.team-matches-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-matches-img {
  height: 300px;
  width: 90%;
  border-radius: 8px;
}

.latest-matches-card {
  width: 90%;
  color: #ffffff;
}

.latest-matches-text {
  font-size: 17px;
}

.match-card-card {
  list-style-type: none;
  margin-left: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .team-matches-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-matches-img {
    height: 150px;
    width: 90%;
    border-radius: 8px;
  }

  .latest-matches-card {
    width: 90%;
    color: #ffffff;
  }

  .latest-matches-text {
    font-size: 17px;
  }

  .match-card-card {
    list-style-type: none;
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
